<mat-toolbar>
  <div class="">
    <button [matMenuTriggerFor]="slush_machine_menu" mat-button>
      Slush Machine
    </button>
    <mat-menu #slush_machine_menu="matMenu">
      <button
        mat-menu-item
        routerLink="/slush_machine_status"
        routerLinkActive="active"
      >
        Status
      </button>
      <button
        mat-menu-item
        routerLink="/slush_machine_admin"
        routerLinkActive="active"
      >
        Admin
      </button>
    </mat-menu>
  </div>
  <span class="spacer"></span>
  <div class="">
    <button [matMenuTriggerFor]="user_menu" mat-button>User</button>
    <mat-menu #user_menu="matMenu">
      <button (click)="logout()" *ngIf="user" mat-menu-item>Logout</button>
      <button
        *ngIf="!user"
        mat-menu-item
        routerLink="/login"
        routerLinkActive="active"
      >
        Login
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
