<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="third-party" value="https://nuget.d-velop.de/nuget/third-party/v3/index.json" protocolVersion="3" />
    <add key="dvelop-releases" value="https://nuget.d-velop.de/nuget/dvelop-releases/v3/index.json" protocolVersion="3" />
    <add key="dvelop-snapshots" value="https://nuget.d-velop.de/nuget/dvelop-snapshots/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>